<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731508867345-e4slkrtpcr5t7cr9a4emblfcnb14lfdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731508867345-e4slkrtpcr5t7cr9a4emblfcnb14lfdf</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCoZP9yOJAmG1yJ1MeDOLeXd98AE4LWM</string>
	<key>GCM_SENDER_ID</key>
	<string>731508867345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayerdl.growthapp</string>
	<key>PROJECT_ID</key>
	<string>growth-app-50738</string>
	<key>STORAGE_BUCKET</key>
	<string>growth-app-50738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731508867345:ios:868fcb32c9a3bce4c00cb0</string>
	<key>DATABASE_URL</key>
	<string>https://growth-app-50738-default-rtdb.firebaseio.com</string>
</dict>
</plist>